html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}

body {
    background-color: #F7D486;
    /*background-color: #FFF2CC;*/
    font-family: "微軟正黑體", sans-serif;
}

body {
    line-height: 1;
    color: black;
    background: white;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

nav {
    /*background-color: #F7D486;*/
    background-color: #FFF2CC;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: #440381;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    transition: color 0.3s, text-decoration 0.3s;
    display: flex;
    text-align: center;
    align-items: center;
}
nav a:hover {
    /*color: #F7D486;*/
    transform: scale(1.1);
    /*color: #FFF2CC;*/
}

nav a img {
    width: 27px;
}

.logo-container {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    margin-left: 0;
}
.logo-container img {
    width: 100px;
    height: auto;
    transition: transform 0.3s;
}
.logo-container img:hover {
    transform: scale(1.1);
}

html {
    font-size: 120%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '微軟正黑體', sans-serif;
}

#calendar {
    width: 85vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    margin: 10px;
    position: relative;
    z-index: 1;
}

#expenseDetails, #goRecord {
    position: relative;
    margin-top: 20px; /* 增加距離避免被 calendar 檔住 */
    z-index: 2;
}

/* 調整整個日曆背景 */
.fc-theme-standard .fc-scrollgrid {
    background-color: #FFF2CC;
    /*background-color: #F7D486;*/
}

/* 隱藏非當月日期行 */
.fc-daygrid-day.fc-day-other > * {
    display: none;
}

.fc-daygrid-day-frame {
    /*display: flex;*/
    /*align-items: center;*/
    text-align: center;
}

/* 強制將事件文字顏色設為黑色 */
.fc-event, .fc-event * {
    color: black !important;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #F7D486;
    /*background-color: #FFF2CC;*/
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* Modal Content */
.modal-content {
    background-color: #F7D486;
    /*background-color: #FFF2CC;*/
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    max-width: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    text-align: start;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
    border-radius: 10px;
    padding: 5px;
    background-color: #FFF2CC;
    /*background-color: #F7D486;*/
    margin: 5px;
    cursor: pointer;
    font-size: 18px;
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4); /* 滑鼠移過時陰影更明顯 */
}